Django>=4.2,<5.0
djangorestframework
django-cors-headers
psycopg2-binary
python-dotenv
drf-yasg
Pillow
requests
supabase
cloudinary
groq
openpyxl
gunicorn
whitenoise
celery
redis
channels
channels-redis
djangorestframework-simplejwt
django-filter
geopy
dj-database-url
